/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock

public/chart_data/
public/css/
public/fonts/
public/img/
public/js/
public/vendors
public/uploads/avatars/
resources/assets/vendors
vendor/
public/mix-manifest\.json
/bootstrap/compiled.php